In [ ]:
import mysql.connector

# Establishing the connection
connection = mysql.connector.connect(
    host="localhost",         # For example, "localhost" or IP address
    user="new_user",     # Your MySQL username
    password="user", # Your MySQL password
    database="db",  # The database you want to connect to
    port=3311

)

if connection.is_connected():
    print("Connected to MySQL database")

cursor = connection.cursor()

cursor.execute("SELECT * FROM supermarket")

result = cursor.fetchall()

# for row in result:
row = result[0]
id = row[0]
branch = row[1]
city = row[2]
type = row[3]
gender = row[4]
line = row[5]
price = row[6]
quantity = row[7]
tax = row[8]
total = row[9]
date = row[10]
time = row[11]
payment = row[12]
cogs = row[13]
margin = row[14]
income = row[15]
rating = row[16]

b = "INSERT IGNORE INTO Dim_Branch (Branch, City) VALUES (%s, %s)"
customer = "INSERT IGNORE INTO Dim_Customer (CustomerType, Gender) VALUES (%s, %s)"
product = "INSERT IGNORE INTO Dim_Product (ProductLine) VALUES (%s)"
p = "INSERT IGNORE INTO Dim_Payment (Payment) VALUES (%s)"
d = "INSERT IGNORE INTO Dim_Date (Date, Year, Month, Day, Weekday) VALUES (%s, %s, %s, %s, %s)"

final = """INSERT INTO Fact_Sales 
(InvoiceID, Branch, CustomerType, Gender, ProductLine, Date, Payment, 
UnitPrice, Quantity, Tax, Total, COGS, GrossMarginPercentage, GrossIncome, Rating) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""


cursor.execute(b, (branch, city))
cursor.execute(customer, (type, gender))
cursor.execute(product, (line, ))
cursor.execute(p, (payment, ))
cursor.execute(d, ("2022-05-12", 2022, 5, 12, "Friday"))
connection.commit()
# cursor.execute(final, (id, branch, type, gender, line, date, payment, price, quantity, tax, total, cogs, margin, income, rating))
# connection.commit()

cursor.close()
connection.close()

Connected to MySQL database

In [3]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",         # For example, "localhost" or IP address
    user="new_user",     # Your MySQL username
    password="user", # Your MySQL password
    database="db",  # The database you want to connect to
    port=3311
)

if connection.is_connected():
    print("Connected to MySQL database")

cursor = connection.cursor()

cursor.execute("SELECT * FROM supermarket")

result = cursor.fetchall()

d = "INSERT IGNORE INTO Dim_Date (Date, Year, Month, Day, Weekday) VALUES (%s, %s, %s, %s, %s)"
cursor.execute(d, ("2022-05-12", 2022, 5, 12, "Friday"))
connection.commit()

row = result[0]
id = row[0]
branch = row[1]
city = row[2]
type = row[3]
gender = row[4]
line = row[5]
price = row[6]
quantity = row[7]
tax = row[8]
total = row[9]
date = "2022-05-12"
time = row[11]
payment = row[12]
cogs = row[13]
margin = row[14]
income = row[15]
rating = row[16]

final = """INSERT INTO Fact_Sales 
(InvoiceID, Branch, CustomerType, Gender, ProductLine, Date, Payment, 
UnitPrice, Quantity, Tax, Total, COGS, GrossMarginPercentage, GrossIncome, Rating) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

cursor.execute(final, (id, branch, type, gender, line, date, payment, price, quantity, tax, total, cogs, margin, income, rating))
connection.commit()

cursor.close()
connection.close()

Connected to MySQL database

In [ ]:
print(type(result))

<class 'list'>

In [ ]:
print(result[0])

('750-67-8428', 'A', 'Yangon', 'Member', 'Female', 'Health and beauty', '74.69', 7, '26.1415', 548.9715, '1/5/2019', '13:08', 'Ewallet', 522.83, '4.761904762', '26.1415', 9.1)