Creation of the chain responsible for the generation of the star-schema structure

In [1]:
test_schemas = [
    {
        "battles": """
        battle_id INT PRIMARY KEY,
        player_id INT NOT NULL,
        tank_id INT NOT NULL,
        damage_dealt INT NOT NULL,
        damage_blocked INT NOT NULL,
        damage_assisted INT NOT NULL,
        battle_played_date DATE NOT NULL,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
        """,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2)
        """,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int
        """
    },
    {
        "orders": """
        order_id int primary key,
        order_date DATE,
        quantity decimal(4,2),
        price decimal(6,2),
        customer_id int, 
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
        """,
        "products": """
        product_id int primary key,
        product_name varchar(100),
        product_price decimal(4,2)
        """,
        "customers": """
        customer_id int primary key, 
        customer_name varchar(100),
        country varchar(100)
        """
    },
    {
        "orders": """
        order_id int primary key,
        order_date DATE,
        quantity decimal(4,2),
        price decimal(6,2),
        customer_id int, 
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
        """,
        "products": """
        product_id int primary key,
        product_name varchar(100),
        product_price decimal(4,2)
        """,
        "customers": """
        customer_id int primary key, 
        customer_name varchar(100),
        country varchar(100)
        """
    },
    {
        "calls":"""
        call_id int primary key,
        caller_id int,
        receiver_id int,
        call_date DATETIME,
        duration decimal(4,2),
        FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        plan_id int,
        FOREIGN KEY (plan_id) REFERENCES plan(plan_id)
        """,
        "plan": """
        plan_id int primary key,
        description varchar(255)
        """
    },
    {
        "calls": """
        call_id int primary key,
        caller_id int,
        receiver_id int,
        date DATE,
        duration decimal(4,2),
        FOREIGN KEY (caller_id) REFERENCES customers(customer_id)
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        plan_id int,
        phone_id int,
        FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
        FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
        """,
        "phone": """
        phone_id int primary key,
        version varchar(50),
        company varchar(50)
        """,
        "plan": """
        plan_id int primary key,
        description varchar(255)
        """
    },
    {
       "drives": """
        drives_id primary key,
        driver_id int
        car_id int,
        fuel_burnt decimal(4,2),
        days_out int,
        mileage decimal(5,2),
        FOREIGN KEY (driver_id) REFERENCES drivers(driver_id),
        FOREIGN KEY (car_id) REFERENCES cars(car_id)
        """,
        "drivers": """
        driver_id primary key,
        driver_name varchar(100),
        driver_age int
        """,
        "cars": """
        car_id int primary key,
        car_model varchar(100),
        car_manufacturer int,
        FOREIGN KEY (car_manufacturer) REFERENCES car_manufacturer(manufacturer_id)
        """,
        "car_manufacturer": """
        manufacturer_id int primary key,
        name varchar(100), 
        country varchar(50)
        """ 
    },
    {
        "battles": """
        battle_id int primary key,
        player_id int,
        tank_id int,
        damage_dealt int,
        damage_blocked int,
        damage_assisted int,
        battle_played DATETIME,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
        """ ,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2)
        """ ,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int
        """ 
    },
    {
        "orders": """
        order_id int primary key,
        product_id int,
        order_date DATETIME,
        quantity decimal(4,2),
        price decimal(6,2),
        customer_id int, 
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key, 
        customer_name varchar(100),
        country varchar(100)
        """ ,
        "products": """
        product_id int primary key,
        product_name varchar(100),
        product_price decimal(4,2)
        """     
    },
    {
        "orders": """
        order_id int primary key,
        product_id int,
        order_date DATE,
        quantity decimal(4,2),
        total_price decimal(6,2),
        customer_id int, 
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
        """,
        "products": """
        product_id int primary key,
        product_name varchar(100),
        product_price decimal(4,2)
        """,
        "customers": """
        customer_id int primary key, 
        customer_name varchar(100),
        country varchar(100)
        """
    },
    {
        "calls": """
        call_id int primary key,
        caller_id int,
        receiver_id int,
        date DATE,
        duration decimal(4,2),
        FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        plan_id int,
        phone_id int,
        FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
        FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
        """,
        "phone": """
        phone_id int primary key,
        version varchar(50),
        company varchar(50)
        """,
        "plan": """
        plan_id int primary key,
        description varchar(255)    
        """
    },
    {
        "calls": """
        call_id int primary key,
        caller_id int,
        receiver_id int,
        call_date DATETIME,
        duration decimal(4,2),
        FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        plan_id int,
        phone_id int,
        FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
        FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
        """,
        "phone": """
        phone_id int primary key,
        version varchar(50),
        company varchar(50)
        """,
        "plan": """
        plan_id int primary key,
        description varchar(255)    
        """
    },
    {
        "battles": """
        battle_id int primary key,
        player_id int,
        tank_id int,
        damage_dealt int,
        damage_blocked int,
        damage_assisted int,
        battle_played DATE,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)  
        """,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2) 
        """,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int    
        """
    },
    {
        "battles": """
        battle_id int primary key,
        player_id int,
        tank_id int,
        damage_dealt int,
        damage_blocked int,
        damage_assisted int,
        battle_played DATE,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)  
        """,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2) 
        """,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int    
        """,  
    },
    {
        "races": """
        race_id int primary key,
        location_id int,
        season_id int,
        race_winner_number int,
        fasted_lap decimal(3,4),
        FOREIGN KEY (location_id) REFERENCES locations(location_id),
        FOREIGN KEY (season_id) REFERENCES seasons(season_id),
        FOREIGN KEY (race_winner_number) REFERENCES racers(race_number)
        """,
        "locations": """
        location_id int primary key,
        country varchar(30),
        city varchar(25)
        """,
        "seasons": """
        season_id int primary key,
        season varchar(20),
        """,
        "racers": """
        race_number int primary key,
        racer_name varchar(100)
        """
    },
    {
        "flights": """
        flight_number int primary key,
        plane_number int,
        departure_place int,
        destination_place int,
        departure_time DATETIME,
        arrival_time DATETIME,
        FOREIGN KEY (plane_number) REFERENCES planes(plane_number),
        FOREIGN KEY (departure_place) REFERENCES place(place_id),
        FOREIGN KEY (destination_place) REFERENCES place(place_id)
        """,
        "planes": """
        plane_number int primary key,
        plane_company int,
        plane_model varchar(50),
        flights_number int,
        flight_hours decimal(5, 2),
        FOREIGN KEY (plane_company) REFERENCES companies(company_id)
        """,
        "companies": """
        company_id int primary key,
        name varchar(50),
        number_planes int
        """,
        "place": """
        place_id int primary key,
        country varchar(30)
        """
    },
    {
        "flights": """
        flight_number int primary key,
        plane_number int,
        departure_place int,
        destination_place int,
        departure_time DATE,
        arrival_time DATE,
        FOREIGN KEY (plane_number) REFERENCES planes(plane_number),
        FOREIGN KEY (departure_place) REFERENCES place(place_id),
        FOREIGN KEY (destination_place) REFERENCES place(place_id)
        """,
        "planes": """
        plane_number int primary key,
        plane_company int,
        plane_model varchar(50),
        flights_number int,
        flight_hours decimal(5, 2),
        FOREIGN KEY (plane_company) REFERENCES companies(company_id)
        """,
        "companies": """
        company_id int primary key,
        name varchar(50),
        number_planes int
        """,
        "place": """
        place_id int primary key,
        country varchar(30)
        """
    },
    {
        "flights": """
        flight_number int primary key,
        plane_number int,
        departure_place int,
        destination_place int,
        flight_duration decimal(5,2),
        FOREIGN KEY (plane_number) REFERENCES planes(plane_number),
        FOREIGN KEY (departure_place) REFERENCES place(place_id),
        FOREIGN KEY (destination_place) REFERENCES place(place_id)
        """,
        "planes": """
        plane_number int primary key,
        plane_company int,
        plane_model varchar(50),
        flights_number int,
        flight_hours decimal(5, 2),
        FOREIGN KEY (plane_company) REFERENCES companies(company_id)
        """,
        "companies": """
        company_id int primary key,
        name varchar(50),
        number_planes int
        """,
        "place": """
        place_id int primary key,
        country varchar(30)
        """,
    },
    {
        "exams": """
        exam_id int,
        student_id int,
        primary key (exam_id, student_id),
        score decimal(3,2),
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (exam_id) REFERENCES exam_dim(exam_id)
        """,
        "students": """
        student_id int primary key,
        student_name varchar(100)
        class_id int,
        FOREIGN KEY (class_id) REFERENCES classes(class_id)
        """,
        "classes": """
        class_id int primary key,
        grade int,
        letter varchar(2),
        number_students int
        """,
        "exam_dim": """
        exam_id int,
        class varchar(20),
        date DATE
        """,
    },
    {
        "transaction": """
        transaction_id int primary key,
        date DATE,
        sender_id int,
        receiver_id int,
        amount decimal(6,2),
        FOREIGN KEY (sender_id) REFERENCES customers(customer_id),
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        balance decimal(7,2)
        """
    },
    {
        "exams": """
        exam_id in,
        student_id int,
        score decimal(3,2),
        primary key (exam_id, student_id),
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (exam_id) REFERENCES exam_dim(exam_id)
        """,
        "exam_dim": """
        exam_id int primary key,
        subject varchar(20),
        date DATE
        """,
        "classes": """
        class_id int primary key,
        grade int,
        letter varchar(2),
        number_students int
        """,
        "students": """
        student_id int primary key,
        student_name varchar(100)
        class_id int,
        FOREIGN KEY (class_id) REFERENCES classes(class_id)
        """
    },
    {
        "flights": """
        flight_id int primary key,
        plane_id int,
        company_id int,
        tickets_sold int,
        ticket_price decimal(4,2),
        operation_day DATE,
        FOREIGN KEY (plane_id) REFERENCES planes(plane_id),
        FOREIGN KEY (company_id) REFERENCES companies(company_id)
        """,
        "planes": """
        plane_id int primary key,
        plane_model varchar(100),
        plane_manufacturer varchar(100)
        """,
        "companies": """
        company_id int primary key,
        name varchar(100)
        """
    },
    {
        "flights": """
        flight_id int primary key,
        plane_id int,
        company_id int,
        tickets_sold int,
        operation_day DATE,
        FOREIGN KEY (plane_id) REFERENCES planes(plane_id),
        FOREIGN KEY (company_id) REFERENCES companies(company_id)
        """,
        "planes": """
        plane_id int primary key,
        plane_model varchar(100),
        plane_manufacturer varchar(100)
        """,
        "companies": """
        company_id int primary key,
        name varchar(100)
        """
    },
    {
        "battles": """
        battle_id int primary key,
        player_id int,
        tank_id int,
        damage_dealt int,
        damage_blocked int,
        damage_assisted int,
        battle_played DATE,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
        """,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2)
        """,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int
        """
    },
    {
        "battles": """
        battle_id int primary key,
        player_id int,
        tank_id int,
        damage_dealt int,
        damage_blocked int,
        damage_assisted int,
        battle_played DATE,
        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
        """,
        "players": """
        player_id int primary key,
        username varchar(30),
        battles int,
        winrate decimal(3,2)
        """,
        "tanks": """
        tank_id int primary_key,
        name varchar(100),
        tier int
        """
    },
    {
        "calls": """
        call_id int primary key,
        caller_id int,
        receiver_id int,
        call_date DATETIME,
        duration decimal(4,2),
        FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
        FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
        """,
        "customers": """
        customer_id int primary key,
        name varchar(100),
        plan_id int,
        phone_id int,
        FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
        FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
        """,
        "phone": """
        phone_id int primary key,
        version varchar(50),
        company varchar(50)
        """,
        "plan": """
        plan_id int primary key,
        description varchar(255)
        """
    },
    
]

In [2]:
# expected results

test_outcomes = [
    """
    create table player_tank_fact()
    player_id int,
    tank_id int,
    total_damage int,
    total_blocked int,
    total_assisted int,
    primary key(player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );
    """,
    """
    create table product_customer_fact(
    product_id int,
    customer_id int,
    total_price decimal(7,2),
    primary key (product_id, customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    );
    """,
    """
    create table product_fact(
    product_id int primary key,
    total_price decimal(7,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    );
    """,
    """
    create table call_fact(
    first_caller_id int,
    second_caller_id int,
    total_duration decimal(5,2),
    primary key(first_caller_id, second_caller_id),
    FOREIGN KEY (first_caller_id) REFERENCES customers(customer_id)
    FOREIGN KEY (second_caller_id) REFERENCES customers(customer_id)
    );
    """,
    """
    create table plan_phone_fact(
    plan_id int,
    phone_id int,
    total_duration decimal(5,2),
    primary key(plan_id, phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );
    """,
    """
    create table manufacturer_fact(
    manufacturer_id int primary key,
    total_mileage decimal(8,2),
    avg_days_out decimal(3,2),
    FOREIGN KEY (manufacturer_id) REFERENCES car_manufacturer(manufacturer_id)
    );
    """,
    """
    create table tank_fact(
    tank_id int primary key,
    avg_damage decimal(5,2),
    avg_blocked decimal(5,2),
    avg_assisted decimal(5,2),
    counter int,
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );
    """,
    """
    create table product_hourly_fact(
    product_id int,
    order_date_hour int,
    total_product_price decimal(7,2),
    primary key (product_id, order_date_hour),
    FOREIGN KEY (product_id) REFERENCES product_dim(product_id),
    );
    """,
    """
    create table product_monthly_fact(
    product_id int primary key,
    order_date_monthly int,
    count int,
    primary key(product_id, order_date_monthly),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );
    """,
    """
    create table phone_plan_fact(
    phone_id int,
    plan_id int,
    count_calls int,
    primary key(phone_id, plan_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );
    """,
    """
    create table phone_plan_daily_fact(
    phone_id int,
    plan_id int,
    count_calls int,
    call_date_daily DATETIME,
    primary key(phone_id, plan_id, call_date_daily),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );
    """,
    """
    create table player_tank_fact(
    player_id int,
    tank_id int,
    count_battles int,
    total_damage_dealt int,
    avg_damage_dealt decimal(10,2),
    primery key(player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );
    """,
    """
    create table player_tank_daily_fact(
    player_id int,
    tank_id int,
    count_battles int,
    total_damage int,
    battle_date_daily int,
    avg_damage decimal(10,2),
    primery key(player_id, tank_id, battle_date_daily),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );
    """,
    """
    create table races_season_fact(
    season_id int,
    racer_id int,
    count_winner int,
    primary key(season_id, racer_id),
    FOREIGN KEY (season_id) REFERENCES seasons(season_id),
    FOREIGN KEY (racer_id) REFERENCES racers(race_number)
    );
    """,
    """
    create table flights_company_daily_fact(
    company_id int,
    departure_time_daily int,
    flights_count int,
    primary key(company_id, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
    );
    """,
    """
    create table count_flights_company_daily(
    departure_place int,
    destination_place int,
    company_id int,
    flights_count int,
    departure_time_daily int,
    primary key(company_id, departure_place, destination_place, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id),
    FOREIGN KEY (departure_place) REFERENCES place(place_id),
    FOREIGN KEY (destination_place) REFERENCES palce(place_id)
    );
    """,
    """
    create table flights_fact(
    flight_number int,
    departure_place int,
    destination_place int,
    min_duration decimal(5,2),
    max_duration decimal(5,2),
    primary key (departure_place, destination_place),
    FOREIGN KEY (departure_place) REFERENCES place(place_id),
    FOREIGN KEY (destination_place) REFERENCES place(place_id)
    );
    """,
    """
    create table class_exam_fact(
    class_id int,
    exam_id int,
    min_student_id int,
    max_student_id int,
    min_score decimal(3,2),
    max_score decimal(3,2),
    primary key(class_id, exam_id),
    FOREIGN KEY (class_id) REFERENCES classes(class_id),
    FOREIGN KEY (exam_id) REFERENCES exam_dim(exam_id),
    FOREIGN KEY (min_student_id) REFERENCES students(student_id),
    FOREIGN KEY (max_student_id) REFERENCES students(student_id)
    );
    """,
    """
    create table customer_monthly_fact(
    customer_id int,
    date_monthly int,
    total_spendings decimal(7,2),
    primary key (customer_id, date_monthly),
    FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
    );
    """,
    """
    create table class_exam_fact(
    class_id int,
    exam_id int,
    counter int,
    avg_score decimal(3,2),
    primary key(class_id, exam_id),
    FOREIGN KEY (class_id) REFERENCES classes(class_id),
    FOREIGN KEY (exam_id) REFERENCES exam_dim(exam_id)
    );
    """,
    """
    create table company_fact(
    company_id int primary key,
    flights_count int,
    total_revenue decimal(5,2),
    avg_tickets_sold decimal(4,2),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
    );
    """,
    """
    create table company_monthly_fact(
    company_id int,
    operation_day_monthly int,
    flights_count int,
    total_tickets int,
    primary key(company_id, operation_day_monthly),
    avg_tickets_sold decimal(4,2),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
    );
    """,
    """
    create table player_tank_fact(
    player_id int,
    tank_id int,
    count_battles int,
    avg_damage decimal(10,2),
    primery key(player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );
    """,
    """
    create table player_monthly_fact(
    player_id int,
    count_battles int,
    avg_damage decimal(10,2),
    battle_played_monthly int,
    primery key(player_id, battle_played_monthly),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    );
    """,
    """
    CREATE TABLE caller_quarterly_fact (
    caller_id INT,
    avg_calls_per_quarter DECIMAL(5,2),
    call_date_quarterly int,
    PRIMARY KEY (caller_id, call_date_quarterly),
    FOREIGN KEY (caller_id) REFERENCES customers(customer_id)
    );
    """
]

In [26]:
# below is the code for testing 
import yaml

with open("config/configs3.yaml", "r") as f:
    data = yaml.safe_load(f)

test_agg_columns = [
    ["user_id", "tank_id"],
    ["product_id", "customer_id"],
    ["product_id"],
    ["caller_id", "receiver_id"],
    ["plan_id", "phone_id"],
    ["manufacturer_id"],
    ["tank_id"],
    ["product_id", "order_date"],
    ["product_id", "order_date"],
    ["phone_id", "plan_id"],
    ["phone_id", "plan_id", "date"],
    ["player_id", "tank_id"],
    ["player_id", "tank_id" , "battle_played"],
    ["season_id", "racer_id"],
    ["company_id", "departure_time"],
    ["company_id", "departure_place", "destination_place", "departure_time"],
    ["departure_place", "destination_place"],
    ["class_id", "exam_id"],
    ["sender_id", "date"],
    ["class_id", "exam_id"],
    ["company_id"],
    ["company_id", "operation_day"],
    ["player_id", "tank_id"],
    ["player_id", "battle_played"],
    ["customer_id", "date"]
]

test_columns = [
    ["damage_dealt", "damage_blocked", "damage_assisted"],
    ["price", "discount"],
    ["price"],
    ["duration"],
    ["duration"],
    ["mileage", "days_out"],
    ["damage_dealt", "damage_blocked", "damage_assisted", "battle_id"],
    ["price"],
    ["product_id"],
    ["call_id"],
    ["call_id"],
    ["battle_id", "damage_dealt", "damage_dealt"],
    ["battle_id", "damage_dealt", "damage_dealt"],
    ["race_winner_number"],
    ["flight_id"],
    ["flight_id"],
    ["flight_duration"],
    ["score", "score"],
    ["amount"],
    ["score"],
    ["tickets_sold", "ticket_price"],
    ["tickets_sold"],
    ["damage_dealt"],
    ["damage_dealt"],
    ["call_id", "duration"]
]

test_operations = [
    ["SUM", "SUM", "SUM"],
    ["SUM", "AVG"],
    ["SUM"],
    ["SUM"],
    ["SUM"],
    ["SUM", "AVG"],
    ["AVG","AVG","AVG","COUNT"],
    ["SUM"],
    ["COUNT"],
    ["COUNT"],
    ["COUNT"],
    ["COUNT", "SUM", "AVG"],
    ["COUNT", "SUM", "AVG"],
    ["COUNT"],
    ["COUNT"],
    ["COUNT"],
    ["MIN"],
    ["MIN", "MAX"],
    ["SUM"],
    ["AVG"],
    ["AVG", "SUM"],
    ["AVG"],
    ["AVG"],
    ["AVG"],
    ["AVG", "SUM"]
]

test_time_aggregation = [
    "NONE",
    "NONE",
    "NONE",
    "NONE",
    "NONE",
    "NONE",
    "NONE",
    "HOUR",
    "MONTH",
    "NONE",
    "WEEK",
    "NONE",
    "WEEKDAY",
    "NONE",
    "WEEKDAY",
    "WEEKDAY",
    "NONE",
    "NONE",
    "MONTH",
    "NONE",
    "NONE",
    "MONTH",
    "NONE",
    "WEEKDAY",
    "WEEKDAY"
]

test_user_inputs = [
    "Aggregation should compute the total damage, blocked, and assisted for the player identified with the «user_id» on a particular tank «tank_id».",
    "Aggregation should compute the total spending of customer with identificator «customer_id» on the product with identificator «product_id».",
    "Aggregation should compute the total spending on the product with identificator «product_id» among all orders.",
    "Aggregation should compute total duration of all calls between two customers.",
    "Aggregation should compute computing the total duration of the calls that were made by customers with the particular plan identified with «plan_id» and using a particular phone version «phone_id».",
    "Aggregation should compute total mileage, and average days out of particular manufacture",
    "Aggregation should compute the average damage, total_blocked, and total_assisted for a desired tank with «tank_id».",
    "Aggregation should compute the total volume of sales by computing «total_order_price» for a particular product «product_id» during a desired hour.",
    "Aggregation shoudl count the number of times product «product_id» appeared among all orders from «orders» table for a desired month",
    "Aggregation should count the number of calls that were made by using a phone with «phone_id» and a particular plan «plan_id».",
    "Aggregation should count the number of calls that were made by using a phone model with «phone_id» and a particular plan «plan_id» during the desired day.",
    "Aggregation should count the number of battles played by player «player_id» on a tank «tank_id», and counting total damage with average damage.",
    "Aggregation should count the number of battles played by user «user_id» on a tank «tank_id», and counting total damage with average damage per battle during a desired day.",
    "Aggregation should count the number of races per a particular season.",
    "Aggregatin should count the number of flights operated by the desired company «company_id» within a particular weekday.",
    "Aggregation should count the number of flights that departs from «departure_place» and arrives at «destination_place» within a particular weekdat.",
    "Aggregation should contain both max and min «flight_duration» for a flight.",
    "Aggregation should count the min and max score of the class for a particular exam. It also should contain students who earned the max and min score.",
    "Please create the aggregation on «customer_id» and «spendings_over_month», the aggregation should have the logic for storing the min and max for the user’s spendings over the month.",
    "Aggregation should count the average score for exam identified with «exam_id» for a class «class_id».",
    "Please do the aggregation on the «company_id», and count the average «tickets_sold» among all flights operated by the company.",
    "Please do the aggregation on the «company_id», and count the average «tickets_sold» among all flights operated by the company monthly.",
    "Please do the aggregation on the «player_id» and «tank_id» by counting the average damage per battle.",
    "Please do the aggregation based on the «player_id» by counting the average «damage_dealt» over a month.",
    "Aggregation should count the average number of calls per weelday the user with identified with  «called_id» makes per a weekday."
]


def generate_test_prompt(counter, with_prompts=False):
    start_prompt_tempalate = "You are an SQL expert. Your task is to create the table schema for so-called fact table that follows star-schema design. You are provided with the schemas of available tables: {schemas}"
    generated_column_part = ". Include fields that compute "
    output_instructions = "Output should contain only the sql query to create a table. Don't repeat the question, and don't provide an explanation"
    agg_columns = test_agg_columns[counter]
    t_columns = test_columns[counter]
    operations = test_operations[counter]

    start_prompt = generate_table_schema(counter)

    generated_agg_part = f" Generated table should aggregate data by: {', '.join(agg_columns)}"
    if test_time_aggregation[counter] != "NONE":
        a = ". Please note that from " + agg_columns[-1] + " should be extracted " + test_time_aggregation[counter] + " and new field should be of type DATETIME"
        generated_agg_part += a
    operations_prompt = ", ".join(f"{op} of {col}" for op, col in zip(operations, t_columns))
    output = ". The output should be the defined fact table schema in SQL (CREATE TABLE)."
    if len(agg_columns) > 1:
        output + f" Ensure that the primary key is a composite key ({', '.join(agg_columns)})"
    if with_prompts:
        return start_prompt + generated_agg_part + generated_column_part + operations_prompt + output + test_user_inputs[counter]+ output_instructions
    else:
        return start_prompt + generated_agg_part + generated_column_part + operations_prompt + output + output_instructions
    
def generate_test_prompt_v2(counter, with_prompts=False):
    prompts = data["model"]["prompts"]
    time_aggregation_string = ""
    user_prompt = ""

    agg_columns = test_agg_columns[counter]
    t_columns = test_columns[counter]
    operations = test_operations[counter]

    role_prompt = prompts["role"]
    tables_schemas_prompt = prompts["tables"].format(tables=generate_table_schema(counter))
    operations_string = ", ".join(f"{op} of {col}" for op, col in zip(operations, t_columns))
    operations_prompt = prompts["operations"].format(operations=operations_string)

    if test_time_aggregation[counter] != "NONE":
        generated_time_field = generate_time_aggregation(agg_columns[-1], test_time_aggregation[counter])
        time_aggregation_string = prompts["time_aggregation"].format(date_field=agg_columns[-1],time=test_time_aggregation[counter], generated_time_name=generated_time_field)
        agg_columns[-1] = generated_time_field
    if len(agg_columns) > 1:
        output_prompt = prompts["remarks_multiple_aggregation"].format(key={', '.join(agg_columns)})
    else:
        output_prompt = prompts["remarks_one_aggregation"].format(primary_key=agg_columns[0])

    if with_prompts:
        user_prompt = prompts["user_prompt"].format(requirements=test_user_inputs[counter])

    return ' '.join([role_prompt, tables_schemas_prompt, operations_prompt, time_aggregation_string, user_prompt, output_prompt])

def generate_table_schema(counter):
    cur_dict = test_schemas[counter]
    outputs = []

    for table_name, schema_str in cur_dict.items():
        # Split schema fields and clean them
        fields = [field.strip() for field in schema_str.split(",\n")]
        
        # Format each field on a new line with indentation
        formatted_fields = "\n  - ".join(fields)
        formatted_table = f"Table: {table_name}\n  - {formatted_fields}"
        
        outputs.append(formatted_table)

    return "\n\n".join(outputs)


def init_table_fields():
    for sample in test_schemas:
        cur_dict = sample[0]
        all_keys = []
        all_columns = []
        for key, value in cur_dict.items():
            print(key)
            cur_columns = []
            for column in value.split(","):
                column = column.strip("\n").strip()
                if not column.lower().startswith("foreign"):
                    cur_columns.append(column.split()[0])
            all_keys.append(key)
            all_columns.append(cur_columns)
        a = dict(zip(all_keys, all_columns))
        test_columns.append(a)

def generate_time_aggregation(field_name, time_unit):
    if time_unit == "HOUR":
        field_name += "_hourly"
    elif time_unit == "WEEKDAY":
        field_name += "_daily"
    elif time_unit == "WEEK":
        field_name += "_weekly"
    elif time_unit == "MONTH":
        field_name += "_monthly"
    else:
        field_name += "_quarterly"
    return field_name
 
# create the agent that is responsible for checking the generated fact table query

In [4]:
import getpass
import os

if not os.environ.get("OPENAI_API_KEY"):
  os.environ["OPENAI_API_KEY"] = getpass.getpass("Enter API key for OpenAI: ")

from langchain.chat_models import init_chat_model

llm = init_chat_model("gpt-4o-mini", model_provider="openai")

Definition of the test state that works as the

In [5]:
from typing_extensions import TypedDict

class TestingState(TypedDict):
    test_count: int
    user_input: str
    model_output: str
    model_feedback: str
    loops_count: int

In [27]:
from typing_extensions import TypedDict

class TestingStateV2(TypedDict):
    test_count: int
    user_input: str
    model_output: str

In [28]:
def generate_test_prompt_testing(state: TestingStateV2):
    counter = state["test_count"]
    prompts = data["model"]["prompts"]
    time_aggregation_string = ""

    agg_columns = test_agg_columns[counter]
    t_columns = test_columns[counter]
    operations = test_operations[counter]

    role_prompt = prompts["role"]
    tables_schemas_prompt = prompts["tables"].format(tables=generate_table_schema(counter))
    operations_string = ", ".join(f"{op} of {col}" for op, col in zip(operations, t_columns))
    operations_prompt = prompts["operations"].format(operations=operations_string)

    if test_time_aggregation[counter] != "NONE":
        generated_time_field = generate_time_aggregation(agg_columns[-1], test_time_aggregation[counter])
        time_aggregation_string = prompts["time_aggregation"].format(date_field=agg_columns[-1],time=test_time_aggregation[counter], generated_time_name=generated_time_field)
        agg_columns[-1] = generated_time_field
    if len(agg_columns) > 1:
        output_prompt = prompts["remarks_multiple_aggregation"].format(key={', '.join(agg_columns)})
    else:
        output_prompt = prompts["remarks_one_aggregation"].format(primary_key=agg_columns[0])

    user_prompt = prompts["user_prompt"].format(requirements=test_user_inputs[counter])
    a = ' '.join([role_prompt, tables_schemas_prompt, operations_prompt, time_aggregation_string, user_prompt, output_prompt])
    response = llm.invoke(a)
    result = response.content
    print("First generation of the response")
    print(result)
    state["model_output"] = result
    state["user_input"] = test_user_inputs[counter]
    return state

In [7]:
def output_checker(state: TestingState):
    model_output = state["model_output"]
    user_input = state["user_input"]

    prompt = data["model"]["prompts"]["checking_prompt"].format(user_prompt=user_input, fact_table=model_output)
    res = llm.invoke(prompt)
    
    state["model_feedback"] = res.content
    return state

def output_checker_router(state: TestingState):
    res = state["model_feedback"]
    if res.lower() != "yes":
        # state["loops_count"] += 1
        return "repeat_fact_table_generation"
    else:
        return "fact_table_generated_succesfully"
    
def output_fixer(state: TestingState):
    prompt = data["model"]["prompts"]["fixing_prompt"].format(user_prompt=state["user_input"], feedback=state["model_feedback"], fact_table=state["model_output"])
    response = llm.invoke(prompt)
    state["model_output"] = response.content
    return state

In [29]:
def output_checker_v2(state: TestingStateV2):
    model_output = state["model_output"]
    user_input = state["user_input"]

    prompt = data["model"]["prompts"]["checking_prompt"].format(user_prompt=user_input, fact_table=model_output)
    res = llm.invoke(prompt)
    state["model_output"] = res.content
    return state

In [8]:
from langgraph.graph import StateGraph, START, END

graph = StateGraph(TestingState)
graph.add_node("generate_prompt", generate_test_prompt_testing)
graph.add_node("model_output_checker", output_checker)
graph.add_node("model_output_fixer", output_fixer)


graph.add_edge(START, "generate_prompt")
graph.add_edge("generate_prompt", "model_output_checker")
graph.add_edge("model_output_fixer", "model_output_checker")
graph.add_conditional_edges("model_output_checker",
    output_checker_router,
    {
        "repeat_fact_table_generation": "model_output_fixer",
        "fact_table_generated_succesfully": END
    })

app = graph.compile()

In [30]:
from langgraph.graph import StateGraph, START, END

graph2 = StateGraph(TestingState)
graph2.add_node("generate_prompt", generate_test_prompt_testing)
graph2.add_node("model_output_checker", output_checker_v2)

graph2.add_edge(START, "generate_prompt")
graph2.add_edge("generate_prompt", "model_output_checker")
graph2.add_edge("model_output_checker", END)

app2 = graph2.compile()

In [ ]:
from IPython.display import Image, display
from langchain_core.runnables.graph import MermaidDrawMethod

display(
    Image(
        app2.get_graph().draw_mermaid_png(
            draw_method=MermaidDrawMethod.API,
        )
    )
)

In [ ]:
def process_testing(with_prompts):
    count_correct = 0
    count_wrong = 0
    for i in range(0, len(test_schemas)):
        
        response = llm.invoke(generate_test_prompt_v2(i, with_prompts))
        print(i)
        print(response.content)
        print("----------- Below is the desired output -----------")
        print(test_outcomes[i])
        print()
        user_input = input("Is it correct")
        if user_input.lower() == "yes":
            count_correct += 1
        else:
            count_wrong += 1
    total = count_wrong + count_correct
    return (count_correct / total, count_wrong / total)

(correct, wrong) = process_testing(True)
print(correct, wrong)

In [ ]:
def testing_with_state():
    correct = 0
    wrong = 0
    for i in range(len(test_schemas)):
        print(i)
        state = TestingState(test_count=i)
        result = app.invoke(state)
        print("Final model answer is below")
        print(result["model_output"])
        print("Expected output is below")
        print(test_outcomes[i])
        print(test_user_inputs[i])
        user = input("Was it correct")
        if user.lower() == "yes":
            correct += 1
        else:
            wrong += 1
    total = correct + wrong
    return (correct / total, wrong / total)

(correct, wrong) = testing_with_state()
print(correct, wrong)

In [31]:
def testing_with_state_v2():
    correct = 0
    wrong = 0
    for i in range(len(test_schemas)):
        print(i)
        state = TestingStateV2(test_count=i)
        result = app2.invoke(state)
        print("Final model answer is below")
        print(result["model_output"])
        print("Expected output is below")
        print(test_outcomes[i])
        print(test_user_inputs[i])
        user = input("Was it correct")
        if user.lower() == "yes":
            correct += 1
        else:
            wrong += 1
    total = correct + wrong
    return (correct / total, wrong / total)

(correct, wrong) = testing_with_state_v2()
print(correct, wrong)

0
First generation of the response
```sql
CREATE TABLE fact_battle_summary (
    user_id INT NOT NULL,
    tank_id INT NOT NULL,
    total_damage_dealt INT NOT NULL,
    total_damage_blocked INT NOT NULL,
    total_damage_assisted INT NOT NULL,
    PRIMARY KEY (user_id, tank_id),
    FOREIGN KEY (user_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Final model answer is below
```sql
CREATE TABLE fact_battle_summary (
    user_id INT NOT NULL,
    tank_id INT NOT NULL,
    total_damage_dealt INT NOT NULL,
    total_damage_blocked INT NOT NULL,
    total_damage_assisted INT NOT NULL,
    PRIMARY KEY (user_id, tank_id),
    FOREIGN KEY (user_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Expected output is below

    create table player_tank_fact()
    player_id int,
    tank_id int,
    total_damage int,
    total_blocked int,
    total_assisted int,
    primary key(player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );

Aggregation should compute the total damage, blocked, and assisted for the player identified with the «user_id» on a particular tank «tank_id».
1
First generation of the response
```sql
CREATE TABLE fact_sales (
    product_id int,
    customer_id int,
    total_spending decimal(8,2),
    PRIMARY KEY (product_id, customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
```
Final model answer is below
```sql
CREATE TABLE fact_sales (
    product_id int,
    customer_id int,
    total_spending decimal(8,2),
    PRIMARY KEY (product_id, customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
```
Expected output is below

    create table product_customer_fact(
    product_id int,
    customer_id int,
    total_price decimal(7,2),
    primary key (product_id, customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    );

Aggregation should compute the total spending of customer with identificator «customer_id» on the product with identificator «product_id».
2
First generation of the response
```sql
CREATE TABLE fact_sales (
    product_id int,
    order_date DATE,
    total_spending decimal(6,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    PRIMARY KEY (product_id, order_date)
);
```
Final model answer is below
```sql
CREATE TABLE fact_sales (
    product_id int,
    order_date DATE,
    total_spending decimal(10,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    PRIMARY KEY (product_id, order_date)
);
```
Expected output is below

    create table product_fact(
    product_id int primary key,
    total_price decimal(7,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    );

Aggregation should compute the total spending on the product with identificator «product_id» among all orders.
3
First generation of the response
```sql
CREATE TABLE call_fact (
    caller_id int,
    receiver_id int,
    total_duration decimal(4,2),
    PRIMARY KEY (caller_id, receiver_id),
    FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
    FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
);
```
Final model answer is below
```sql
CREATE TABLE call_fact (
    caller_id int,
    receiver_id int,
    total_duration int,
    PRIMARY KEY (caller_id, receiver_id),
    FOREIGN KEY (caller_id) REFERENCES customers(customer_id),
    FOREIGN KEY (receiver_id) REFERENCES customers(customer_id)
);
```
Expected output is below

    create table call_fact(
    first_caller_id int,
    second_caller_id int,
    total_duration decimal(5,2),
    primary key(first_caller_id, second_caller_id),
    FOREIGN KEY (first_caller_id) REFERENCES customers(customer_id)
    FOREIGN KEY (second_caller_id) REFERENCES customers(customer_id)
    );

Aggregation should compute total duration of all calls between two customers.
4
First generation of the response
```sql
CREATE TABLE call_duration_fact (
    plan_id int,
    phone_id int,
    total_duration decimal(12,2),
    PRIMARY KEY (plan_id, phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
);
```
Final model answer is below
```sql
CREATE TABLE call_duration_fact (
    plan_id int,
    phone_id int,
    total_duration int,
    PRIMARY KEY (plan_id, phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
);
```
Expected output is below

    create table plan_phone_fact(
    plan_id int,
    phone_id int,
    total_duration decimal(5,2),
    primary key(plan_id, phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );

Aggregation should compute computing the total duration of the calls that were made by customers with the particular plan identified with «plan_id» and using a particular phone version «phone_id».
5
First generation of the response
```sql
CREATE TABLE fact_drives AS
SELECT
    cm.manufacturer_id,
    SUM(d.mileage) AS total_mileage,
    AVG(d.days_out) AS avg_days_out
FROM
    drives d
JOIN
    cars c ON d.car_id = c.car_id
JOIN
    car_manufacturer cm ON c.car_manufacturer = cm.manufacturer_id
GROUP BY
    cm.manufacturer_id;
```
Final model answer is below
The provided SQL query to create the fact table does not require any corrections regarding the aggregations specified. However, to ensure that the fact table schema is correct and meets the data type requirements, we should explicitly define the schema for the fact table based on the aggregate functions used. Since `total_mileage` will be a summation and `avg_days_out` will be an average, we'll specify the appropriate data types.

Here is the corrected fact table schema:

```sql
CREATE TABLE fact_drives (
    manufacturer_id INT,
    total_mileage INT,
    avg_days_out INT
);
```
Expected output is below

    create table manufacturer_fact(
    manufacturer_id int primary key,
    total_mileage decimal(8,2),
    avg_days_out decimal(3,2),
    FOREIGN KEY (manufacturer_id) REFERENCES car_manufacturer(manufacturer_id)
    );

Aggregation should compute total mileage, and average days out of particular manufacture
6
First generation of the response
```sql
CREATE TABLE fact_battles AS
SELECT
    tank_id,
    AVG(damage_dealt) AS avg_damage_dealt,
    AVG(damage_blocked) AS avg_damage_blocked,
    AVG(damage_assisted) AS avg_damage_assisted,
    COUNT(battle_id) AS total_battles
FROM battles
GROUP BY tank_id;

ALTER TABLE fact_battles
ADD PRIMARY KEY (tank_id);

ALTER TABLE fact_battles
ADD FOREIGN KEY (tank_id) REFERENCES tanks(tank_id);
```
Final model answer is below
```sql
CREATE TABLE fact_battles AS
SELECT
    tank_id,
    AVG(damage_dealt) AS avg_damage_dealt,
    SUM(damage_blocked) AS total_blocked,
    SUM(damage_assisted) AS total_assisted,
    COUNT(battle_id) AS total_battles
FROM battles
GROUP BY tank_id;

ALTER TABLE fact_battles
ADD PRIMARY KEY (tank_id);

ALTER TABLE fact_battles
ADD FOREIGN KEY (tank_id) REFERENCES tanks(tank_id);
```
Expected output is below

    create table tank_fact(
    tank_id int primary key,
    avg_damage decimal(5,2),
    avg_blocked decimal(5,2),
    avg_assisted decimal(5,2),
    counter int,
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );

Aggregation should compute the average damage, total_blocked, and total_assisted for a desired tank with «tank_id».
7
First generation of the response
```sql
CREATE TABLE sales_fact (
    product_id int,
    order_date_hourly int,
    total_order_price decimal(10,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    PRIMARY KEY (product_id, order_date_hourly)
);
```
Final model answer is below
```sql
CREATE TABLE sales_fact (
    product_id int,
    order_date_hourly int,
    total_order_price decimal(10,2),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    PRIMARY KEY (product_id, order_date_hourly)
);
```
Expected output is below

    create table product_hourly_fact(
    product_id int,
    order_date_hour int,
    total_product_price decimal(7,2),
    primary key (product_id, order_date_hour),
    FOREIGN KEY (product_id) REFERENCES product_dim(product_id),
    );

Aggregation should compute the total volume of sales by computing «total_order_price» for a particular product «product_id» during a desired hour.
8
First generation of the response
```sql
CREATE TABLE fact_orders (
    product_id int,
    order_date_monthly int,
    product_count int,
    PRIMARY KEY (product_id, order_date_monthly),
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (order_date_monthly) REFERENCES (
        SELECT MONTH(order_date) AS order_date_monthly
        FROM orders
    )
);
```
Final model answer is below
The generated fact table schema contains an issue with the foreign key constraint on the `order_date_monthly` field. A foreign key cannot reference a subquery. Instead, it should reference a valid existing table column. Additionally, the `order_date_monthly` field should be an integer type to represent the month extracted from the date correctly.

Here's the corrected fact table schema:

```sql
CREATE TABLE fact_orders (
    product_id int,
    order_date_monthly int,
    product_count int,
    PRIMARY KEY (product_id, order_date_monthly),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
```

Note: The foreign key reference for `order_date_monthly` has been removed as it would typically not reference another table but rather be a column referring to a specific aspect of `orders`. If you want to ensure `order_date_monthly` only contains valid month values, you might need to enforce a constraint separately or use data validation in your data processing logic.
Expected output is below

    create table product_monthly_fact(
    product_id int primary key,
    order_date_monthly int,
    count int,
    primary key(product_id, order_date_monthly),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

Aggregation shoudl count the number of times product «product_id» appeared among all orders from «orders» table for a desired month
9
First generation of the response
```sql
CREATE TABLE fact_calls (
    phone_id int,
    plan_id int,
    call_count int,
    PRIMARY KEY (phone_id, plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id)
);
```
Final model answer is below
```sql
CREATE TABLE fact_calls (
    phone_id int,
    plan_id int,
    call_count int,
    PRIMARY KEY (phone_id, plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id)
);
```
Expected output is below

    create table phone_plan_fact(
    phone_id int,
    plan_id int,
    count_calls int,
    primary key(phone_id, plan_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );

Aggregation should count the number of calls that were made by using a phone with «phone_id» and a particular plan «plan_id».
10
First generation of the response
```sql
CREATE TABLE fact_calls (
    phone_id int,
    plan_id int,
    date_weekly int,
    call_count int,
    PRIMARY KEY (phone_id, plan_id, date_weekly),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id)
);
```
Final model answer is below
```sql
CREATE TABLE fact_calls (
    phone_id int,
    plan_id int,
    date_daily int,
    call_count int,
    PRIMARY KEY (phone_id, plan_id, date_daily),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id)
);
```
Expected output is below

    create table phone_plan_daily_fact(
    phone_id int,
    plan_id int,
    count_calls int,
    call_date_daily DATETIME,
    primary key(phone_id, plan_id, call_date_daily),
    FOREIGN KEY (plan_id) REFERENCES plan(plan_id),
    FOREIGN KEY (phone_id) REFERENCES phone(phone_id)
    );

Aggregation should count the number of calls that were made by using a phone model with «phone_id» and a particular plan «plan_id» during the desired day.
11
First generation of the response
```sql
CREATE TABLE battle_facts (
    player_id int,
    tank_id int,
    battle_count int,
    total_damage_dealt int,
    average_damage_dealt decimal(10,2),
    PRIMARY KEY (player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Final model answer is below
```sql
CREATE TABLE battle_facts (
    player_id int,
    tank_id int,
    battle_count int,
    total_damage_dealt int,
    average_damage_dealt decimal(10,2),
    PRIMARY KEY (player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Expected output is below

    create table player_tank_fact(
    player_id int,
    tank_id int,
    count_battles int,
    total_damage_dealt int,
    avg_damage_dealt decimal(10,2),
    primery key(player_id, tank_id),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );

Aggregation should count the number of battles played by player «player_id» on a tank «tank_id», and counting total damage with average damage.
12
First generation of the response
```sql
CREATE TABLE fact_battles (
    player_id int,
    tank_id int,
    battle_played_daily int,
    battle_count int,
    damage_dealt_sum int,
    damage_dealt_avg decimal(10,2),
    PRIMARY KEY (player_id, tank_id, battle_played_daily),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Final model answer is below
```sql
CREATE TABLE fact_battles (
    player_id int,
    tank_id int,
    battle_played_daily int,
    battle_count int,
    damage_dealt_sum int,
    damage_dealt_avg decimal(10,2),
    PRIMARY KEY (player_id, tank_id, battle_played_daily),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
);
```
Expected output is below

    create table player_tank_daily_fact(
    player_id int,
    tank_id int,
    count_battles int,
    total_damage int,
    battle_date_daily int,
    avg_damage decimal(10,2),
    primery key(player_id, tank_id, battle_date_daily),
    FOREIGN KEY (player_id) REFERENCES players(player_id),
    FOREIGN KEY (tank_id) REFERENCES tanks(tank_id)
    );

Aggregation should count the number of battles played by user «user_id» on a tank «tank_id», and counting total damage with average damage per battle during a desired day.
13
First generation of the response
```sql
CREATE TABLE race_summary (
    season_id int,
    racer_id int,
    race_count int,
    FOREIGN KEY (season_id) REFERENCES seasons(season_id),
    FOREIGN KEY (racer_id) REFERENCES racers(race_number),
    PRIMARY KEY (season_id, racer_id)
);
```
Final model answer is below
The generated fact table contains a few issues. The `race_count` field is correctly set as an INT to accommodate the count of races. However, the `racer_id` foreign key references `race_number`, which does not seem to match the typical structure, where `racer_id` should refer to a unique identifier for the racer (usually it's the primary key of the racers table). Also, the table does not aggregate races by a particular season correctly since the current schema suggests it is aggregating by each racer per season.

A corrected version of the fact table schema could be as follows:

```sql
CREATE TABLE race_summary (
    season_id int,
    race_id int,
    race_count int,
    FOREIGN KEY (season_id) REFERENCES seasons(season_id),
    FOREIGN KEY (race_id) REFERENCES races(race_id),
    PRIMARY KEY (season_id, race_id)
);
```

Note: This schema change assumes that you intend to count the number of races aggregated by `season_id` and `race_id`. If you are only interested in counting the total number of races per season without referencing individual races, you may want a simpler version:

```sql
CREATE TABLE race_summary (
    season_id int,
    race_count int,
    FOREIGN KEY (season_id) REFERENCES seasons(season_id),
    PRIMARY KEY (season_id)
);
```

Make sure to finalize the structure based on your requirements.
Expected output is below

    create table races_season_fact(
    season_id int,
    racer_id int,
    count_winner int,
    primary key(season_id, racer_id),
    FOREIGN KEY (season_id) REFERENCES seasons(season_id),
    FOREIGN KEY (racer_id) REFERENCES racers(race_number)
    );

Aggregation should count the number of races per a particular season.
14
First generation of the response
```sql
CREATE TABLE flight_facts (
    company_id int,
    departure_time_daily int,
    flight_count int,
    PRIMARY KEY (company_id, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id),
    FOREIGN KEY (departure_time_daily) REFERENCES (
        SELECT DAYOFWEEK(departure_time)
        FROM flights
    )
);
```
Final model answer is below
The provided fact table schema has a few issues that require correction:

1. The `departure_time_daily` field should be an INT representing a specific day of the week (like 1 for Sunday, 2 for Monday, etc.) but the way it is currently defined as a result of a SELECT statement is incorrect. The correct approach is to store the DAYOFWEEK directly in the schema.

2. The `flight_count` field should be an INT, which is appropriate, but the aggregation logic itself needs to be handled at the time of inserting data into this fact table, not via a foreign key constraint.

Here is the corrected output for the fact table schema:

```sql
CREATE TABLE flight_facts (
    company_id int,
    departure_time_daily int,
    flight_count int,
    PRIMARY KEY (company_id, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
);
```
Expected output is below

    create table flights_company_daily_fact(
    company_id int,
    departure_time_daily int,
    flights_count int,
    primary key(company_id, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
    );

Aggregatin should count the number of flights operated by the desired company «company_id» within a particular weekday.
15
First generation of the response
```sql
CREATE TABLE flight_fact (
    company_id int,
    departure_place int,
    destination_place int,
    departure_time_daily int,
    flight_count int,
    PRIMARY KEY (company_id, departure_place, destination_place, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id),
    FOREIGN KEY (departure_place) REFERENCES place(place_id),
    FOREIGN KEY (destination_place) REFERENCES place(place_id)
);
```
Final model answer is below
```sql
CREATE TABLE flight_fact (
    company_id int,
    departure_place int,
    destination_place int,
    departure_weekday int,
    flight_count int,
    PRIMARY KEY (company_id, departure_place, destination_place, departure_weekday),
    FOREIGN KEY (company_id) REFERENCES companies(company_id),
    FOREIGN KEY (departure_place) REFERENCES place(place_id),
    FOREIGN KEY (destination_place) REFERENCES place(place_id)
);
```
Expected output is below

    create table count_flights_company_daily(
    departure_place int,
    destination_place int,
    company_id int,
    flights_count int,
    departure_time_daily int,
    primary key(company_id, departure_place, destination_place, departure_time_daily),
    FOREIGN KEY (company_id) REFERENCES companies(company_id),