In [1]:
agg_columns = ['company_id', 'departure_time']
operations = {"flight_id":"COUNT"}
time_column = "departure_time"
time = "WEEKDAY"

In [ ]:
from create_fact_table_generator import TableConverterAgent
from create_fact_table_generator import bullshit

In [3]:
agent = TableConverterAgent()
res = agent.start_fact_table(agg_columns, operations, time_column, time)

```sql
CREATE TABLE fact_flights (
    company_id INTEGER,
    departure_day_of_week INT,  -- Changed to represent the day of the week correctly
    flight_count INTEGER,
    PRIMARY KEY (company_id, departure_day_of_week),
    FOREIGN KEY (company_id) REFERENCES companies(company_id)
    -- Removed the incorrect FOREIGN KEY reference to a subquery
);
```
["INSERT INTO fact_flights (company_id, departure_day_of_week, flight_count)\nSELECT \n    p.company_id,\n    strftime('%w', f.departure_time) AS departure_day_of_week,\n    COUNT(f.flight_id) AS flight_count\nFROM \n    flights f\nJOIN \n    planes p ON f.plane_id = p.plane_id\nGROUP BY \n    p.company_id, departure_day_of_week;"]
["INSERT INTO fact_flights (company_id, departure_day_of_week, flight_count)\nSELECT \n    p.company_id,\n    strftime('%w', f.departure_time) AS departure_day_of_week,\n    COUNT(f.flight_id) AS flight_count\nFROM \n    flights f\nJOIN \n    planes p ON f.plane_id = p.plane_id\nGROUP BY \n    p.company_id, departure_day_of_week;"]
["INSERT INTO fact_flights (company_id, departure_day_of_week, flight_count)\nSELECT\n    p.company_id,\n    strftime('%w', f.departure_time) AS departure_day_of_week,\n    COUNT(f.flight_id) AS flight_count\nFROM\n    flights f\nJOIN\n    planes p ON f.plane_id = p.plane_id\nGROUP BY\n    p.company_id, departure_day_of_week;"]
["INSERT INTO fact_flights (company_id, departure_day_of_week, flight_count)\nSELECT \n    p.company_id,\n    strftime('%w', f.departure_time) AS departure_day_of_week,\n    COUNT(f.flight_id) AS flight_count\nFROM \n    flights f\nJOIN \n    planes p ON f.plane_id = p.plane_id\nGROUP BY \n    p.company_id, departure_day_of_week;"]

In [ ]:
bullshit()